<web-app>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>loginJava</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>registerJava</servlet-class>
    </servlet>    
    
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BlogServlet</servlet-name>
        <servlet-class>blogJava</servlet-class>
    </servlet>    
    
    <servlet-mapping>
        <servlet-name>BlogServlet</servlet-name>
        <url-pattern>/blog</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ResetServlet</servlet-name>
        <servlet-class>ResetServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ResetServlet</servlet-name>
        <url-pattern>/resetPass</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SaveScoreServlet</servlet-name>
        <servlet-class>SaveScoreServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SaveScoreServlet</servlet-name>
        <url-pattern>/SaveScoreServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UserDataServlet</servlet-name>
        <servlet-class>UserDataServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserDataServlet</servlet-name>
        <url-pattern>/UserDataServlet</url-pattern>
    </servlet-mapping>

</web-app>